<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AttachFolder" value="D:\tmp\Attach\" />
  </appSettings>
  <connectionStrings>
    <add name="MainDB" providerName="MySql.Data.MySqlClient" 
         connectionString="server=localhost;database=oldmail;user=pb;password=pass;charset=utf8"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".NET Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>